
<div class="centered-page">
  <!--
    <app-phone [alt]="alt" [src]="imageUrl" show size="sm"></app-phone>
    -->

    <!--
    <app-timeline [timelineItems]="timelineItems" vertical></app-timeline> 
    <app-timeline [timelineItems]="timelineItems"></app-timeline> 
  -->


  <!--
  <div class="flex flex-col gap-4">
    <app-alert
      (onDeny)="onDenyHandler($event)"
      (onAccept)="onAcceptHandler()"
      [acceptLabel]="'ACCEPT'"
      alertStyle="info"
    >
      <div class="flex flex-col gap-2">
        <span>Mario</span>

        <strong>Luigi</strong>
        <em>Paolo</em>
      </div>
    </app-alert>

    <app-alert
      (onDeny)="onDenyHandler($event)"
      (onAccept)="onAcceptHandler()"
      [acceptLabel]="'Yes'"
      alertStyle="success"
    >
      <p>
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Perferendis, nam.
      </p>
    </app-alert>

    <app-alert
      (onDeny)="onDenyHandler($event)"
      (onAccept)="onAcceptHandler()"
      [acceptLabel]="'Confirm'"
      alertStyle="error"
    >
      <button type="submit" class="btn">Uno</button>
      <button class="btn">Due</button>
    </app-alert>
  </div>
  -->

<router-outlet />
</div>


  